{
    "openapi": "3.0.3",
    "info": {
        "title": "thingiverse API",
        "version": "v0"
    },
    "servers": [{"url": "https://api.thingiverse.com"}],
    "paths": {
        "/users/{username}/": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get the specified user",
                "operationId": "users-get",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Users"
                ],
                "summary": "Update the user's profile",
                "operationId": "users-patch",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "Delete a user's account",
                "operationId": "users-delete",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/search/{term}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Search data by user",
                "operationId": "users-getsearch",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "term",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/things": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get things by user",
                "operationId": "users-getthings",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/favorites": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get favorites by user",
                "operationId": "users-getfavorites",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/likes": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get things like by user",
                "operationId": "users-getlikes",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/copies": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get latest copies by user",
                "operationId": "users-getcopies",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/collections/{all}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get latest collections by user",
                "operationId": "users-getcollections",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "all",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/downloads": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get latest downloaded things by user",
                "operationId": "users-getdownloads",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/verify-account": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Send user verification email",
                "operationId": "users-postverifyaccount",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/event-count": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "\n                              Get the count of events for user since the\n                              timestamp sent\n                            ",
                "operationId": "users-geteventcount",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/all-collected-things": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "\n                              Get all the things that the user added to the\n                              collection\n                            ",
                "operationId": "users-getallcollectedthings",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/unread-message-count": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get the count of messages for user",
                "operationId": "users-getunreadmessagecount",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/followers": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Follow an user",
                "operationId": "users-postfollowers",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "Unfollow an user",
                "operationId": "users-deletefollowers",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/avatar-image": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Update the avatar image",
                "operationId": "users-postavatarimage",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/users/{username}/cover-image": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Update the cover image",
                "operationId": "users-postcoverimage",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "Get thing by id",
                "operationId": "things-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Things"
                ],
                "summary": "Update an existing thing",
                "operationId": "things-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Things"
                ],
                "summary": "Delete a thing",
                "operationId": "things-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/images/{image_id}": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "Get image(s) by thing",
                "operationId": "things-getimages",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Things"
                ],
                "summary": "Update an existing image",
                "operationId": "things-patchimages",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Things"
                ],
                "summary": "Delete an image from a thing",
                "operationId": "things-deleteimages",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/files/{file_id}": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "Get file(s) by thing",
                "operationId": "things-getfiles",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "file_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Things"
                ],
                "summary": "Delete a file from a thing",
                "operationId": "things-deletefiles",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "file_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/likes": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "Get users who liked this thing",
                "operationId": "things-getlikes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Things"
                ],
                "summary": "Like a thing",
                "operationId": "things-postlikes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Things"
                ],
                "summary": "Delete a like",
                "operationId": "things-deletelikes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/ancestors": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "Get a list of thing ancestors",
                "operationId": "things-getancestors",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/derivatives": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "Get a list of thing derivatives",
                "operationId": "things-getderivatives",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/tags": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "Get tags on this thing",
                "operationId": "things-gettags",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/categories": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "Get thing category",
                "operationId": "things-getcategories",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/": {
            "post": {
                "tags": [
                    "Things"
                ],
                "summary": "Create a new thing",
                "operationId": "things-post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/files": {
            "post": {
                "tags": [
                    "Things"
                ],
                "summary": "Upload a file to the given thing",
                "operationId": "things-postfiles",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/publish": {
            "post": {
                "tags": [
                    "Things"
                ],
                "summary": "Publish a thing",
                "operationId": "things-postpublish",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/copies": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "Get copies/makes of a thing",
                "operationId": "things-getcopies",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Things"
                ],
                "summary": "Upload image for new copy",
                "operationId": "things-postcopies",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/prints": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "\n                              Get a list of prints associated with a thing\n                            ",
                "operationId": "things-getprints",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/threaded-comments": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "\n                              Get all comments for this thing in a quick\n                              pre-threaded view. This is an alternative to GET\n                              /things/id/comments\n                            ",
                "operationId": "things-getthreadedcomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/comments": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "\n                              Get an unthreaded paginated list of comment\n                              objects. See also GET /things/id/threaded_comments\n                            ",
                "operationId": "things-getcomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Things"
                ],
                "summary": "Post a comment",
                "operationId": "things-postcomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/root-comments": {
            "get": {
                "tags": [
                    "Things"
                ],
                "summary": "\n                              Get an unthreaded paginated list of root comment\n                              objects\n                            ",
                "operationId": "things-getrootcomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/things/{id}/toggle-watch": {
            "post": {
                "tags": [
                    "Things"
                ],
                "summary": "Watch/unwatch a Thing",
                "operationId": "things-posttogglewatch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/files/{id}/": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get info about a file by id",
                "operationId": "files-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/files/{id}/finalize": {
            "post": {
                "tags": [
                    "Files"
                ],
                "summary": "Finalize an uploaded file",
                "operationId": "files-postfinalize",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Files"
                ],
                "operationId": "files-getfinalize",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/files/{id}/download": {
            "get": {
                "tags": [
                    "Files"
                ],
                "summary": "Get tracked download URL",
                "operationId": "files-getdownload",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/copies/{id}/": {
            "get": {
                "tags": [
                    "Copies"
                ],
                "summary": "Get copy by id",
                "operationId": "copies-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Copies"
                ],
                "summary": "Update an existing copy",
                "operationId": "copies-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Copies"
                ],
                "summary": "Delete a copy",
                "operationId": "copies-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/copies/{id}/images": {
            "get": {
                "tags": [
                    "Copies"
                ],
                "summary": "Get images for a copy",
                "operationId": "copies-getimages",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Copies"
                ],
                "summary": "Upload image to a copy",
                "operationId": "copies-postimages",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/copies/{id}/images/{image_id}": {
            "patch": {
                "tags": [
                    "Copies"
                ],
                "summary": "Update an existing image",
                "operationId": "copies-patchimages",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Copies"
                ],
                "summary": "Delete an image from a copy",
                "operationId": "copies-deleteimages",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/copies/{id}/likes": {
            "post": {
                "tags": [
                    "Copies"
                ],
                "summary": "Like a copy",
                "operationId": "copies-postlikes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Copies"
                ],
                "summary": "Delete a like",
                "operationId": "copies-deletelikes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/copies/{id}/threaded-comments": {
            "get": {
                "tags": [
                    "Copies"
                ],
                "summary": "\n                              Get all comments for this copy in a quick\n                              pre-threaded view. This is an alternative to GET\n                              /copies/id/comments\n                            ",
                "operationId": "copies-getthreadedcomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/copies/{id}/root-comments": {
            "get": {
                "tags": [
                    "Copies"
                ],
                "summary": "\n                              Get an unthreaded paginated list of root comment\n                              objects\n                            ",
                "operationId": "copies-getrootcomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/copies/{id}/comments": {
            "get": {
                "tags": [
                    "Copies"
                ],
                "summary": "\n                              Get an unthreaded paginated list of comment\n                              objects. See also GET /copies/id/threaded_comments\n                            ",
                "operationId": "copies-getcomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Copies"
                ],
                "summary": "Post a comment",
                "operationId": "copies-postcomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/collections/{id}/": {
            "get": {
                "tags": [
                    "Collections"
                ],
                "summary": "Get a collection by id",
                "operationId": "collections-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Collections"
                ],
                "summary": "Update a collection",
                "operationId": "collections-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Collections"
                ],
                "summary": "Delete a collection",
                "operationId": "collections-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/collections/{id}/things": {
            "get": {
                "tags": [
                    "Collections"
                ],
                "summary": "Get Things in a collection",
                "operationId": "collections-getthings",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/collections/": {
            "post": {
                "tags": [
                    "Collections"
                ],
                "summary": "Create a new collection",
                "operationId": "collections-post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/collections/{collection_id}/thing/{thing_id}": {
            "post": {
                "tags": [
                    "Collections"
                ],
                "summary": "Add a thing to a collection",
                "operationId": "collections-postthing",
                "parameters": [
                    {
                        "name": "collection_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "thing_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Collections"
                ],
                "summary": "Removes a thing from a collection",
                "operationId": "collections-deletething",
                "parameters": [
                    {
                        "name": "collection_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "thing_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/comments/{id}/": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "Get comment by id",
                "operationId": "comments-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Comments"
                ],
                "summary": "Update an existing comment",
                "operationId": "comments-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Comments"
                ],
                "summary": "Delete a comment",
                "operationId": "comments-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/comments/{parentId}/replies": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "\n                              Get an unthreaded list of children comment objects\n                            ",
                "operationId": "comments-getreplies",
                "parameters": [
                    {
                        "name": "parentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/comments/": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "Create a new comment",
                "operationId": "comments-post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/comments/{id}/reply": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "Create a reply to an existing comment",
                "operationId": "comments-postreply",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/newest/": {
            "get": {
                "tags": [
                    "Newest"
                ],
                "summary": "Get the latest things published",
                "operationId": "newest-get",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/popular/": {
            "get": {
                "tags": [
                    "Popular"
                ],
                "summary": "Get the most popular things",
                "operationId": "popular-get",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/featured/": {
            "get": {
                "tags": [
                    "Featured"
                ],
                "summary": "Get the latest featured things",
                "operationId": "featured-get",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/verified/": {
            "get": {
                "tags": [
                    "Verified"
                ],
                "summary": "Get the latest things verified",
                "operationId": "verified-get",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/search/{term}/": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "\n                              Search for Things, Makes, Users, or Collections\n                            ",
                "operationId": "search-get",
                "parameters": [
                    {
                        "name": "term",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/search/{term}/library": {
            "get": {
                "tags": [
                    "Search"
                ],
                "operationId": "search-getlibrary",
                "parameters": [
                    {
                        "name": "term",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/search/{tag}/tag": {
            "get": {
                "tags": [
                    "Search"
                ],
                "operationId": "search-gettag",
                "parameters": [
                    {
                        "name": "tag",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/search/{term}/autocomplete": {
            "get": {
                "tags": [
                    "Search"
                ],
                "operationId": "search-getautocomplete",
                "parameters": [
                    {
                        "name": "term",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/categories/{category_slug}/": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get category or categories",
                "operationId": "categories-get",
                "parameters": [
                    {
                        "name": "category_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/categories/{category_slug}/things": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get latest things in a category",
                "operationId": "categories-getthings",
                "parameters": [
                    {
                        "name": "category_slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/tags/{tag}/things": {
            "get": {
                "tags": [
                    "Tags"
                ],
                "summary": "\n                              Get the latest things with the specified tag\n                            ",
                "operationId": "tags-getthings",
                "parameters": [
                    {
                        "name": "tag",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/tags/{tag}/": {
            "get": {
                "tags": [
                    "Tags"
                ],
                "summary": "Return a representation of the given tag",
                "operationId": "tags-get",
                "parameters": [
                    {
                        "name": "tag",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{id}/": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "summary": "Get Group(s)",
                "operationId": "groups-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Groups"
                ],
                "summary": "Update Group",
                "operationId": "groups-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Groups"
                ],
                "summary": "Delete Group",
                "operationId": "groups-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Create a new Group",
                "operationId": "groups-post",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{id}/image": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Update the Group Image",
                "operationId": "groups-postimage",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{id}/group-topics": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "summary": "Get Group Topics",
                "operationId": "groups-getgrouptopics",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Create a new Group Topic",
                "operationId": "groups-postgrouptopics",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{id}/group-topics-comments": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "summary": "Search Group Topics and Comments",
                "operationId": "groups-getgrouptopicscomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{id}/things": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "summary": "Get Things in a Group",
                "operationId": "groups-getthings",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{id}/things/{thing_id}": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Add Thing to Group",
                "operationId": "groups-postthings",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "thing_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Groups"
                ],
                "summary": "Remove Thing from Group",
                "operationId": "groups-deletethings",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "thing_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Groups"
                ],
                "summary": "Update a Group Thing",
                "operationId": "groups-patchthings",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "thing_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{id}/members": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "summary": "Get Group Members",
                "operationId": "groups-getmembers",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{group_id}/members": {
            "post": {
                "tags": [
                    "Groups"
                ],
                "summary": "Join a Group",
                "operationId": "groups-postmembers",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{group_id}/members/{user_id}": {
            "delete": {
                "tags": [
                    "Groups"
                ],
                "summary": "Leave a Group",
                "operationId": "groups-deletemembers",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{id}/group-forums": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "operationId": "groups-getgroupforums",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Groups"
                ],
                "operationId": "groups-postgroupforums",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{slug}/user-in-group/{userId}": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "operationId": "groups-getuseringroup",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/groups/{slug}/is-slug-unique": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "operationId": "groups-getisslugunique",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/group-topics/{id}/": {
            "get": {
                "tags": [
                    "GroupTopics"
                ],
                "summary": "Get Group Topic",
                "operationId": "grouptopics-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "patch": {
                "tags": [
                    "GroupTopics"
                ],
                "summary": "Update Group Topic",
                "operationId": "grouptopics-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/group-topics/{id}/pin": {
            "post": {
                "tags": [
                    "GroupTopics"
                ],
                "summary": "Pin Group Topic",
                "operationId": "grouptopics-postpin",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "GroupTopics"
                ],
                "summary": "Unpin Group Topic",
                "operationId": "grouptopics-deletepin",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/group-topics/{id}/threaded-comments": {
            "get": {
                "tags": [
                    "GroupTopics"
                ],
                "summary": "\n                              Get all comments for this topic in a quick\n                              pre-threaded view. This is an alternative to GET\n                              /grouptopics/id/comments\n                            ",
                "operationId": "grouptopics-getthreadedcomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        },
        "/group-topics/{id}/comments": {
            "get": {
                "tags": [
                    "GroupTopics"
                ],
                "summary": "\n                              Get an unthreaded paginated list of comment\n                              objects. See also GET\n                              /grouptopics/id/threaded_comments\n                            ",
                "operationId": "grouptopics-getcomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "GroupTopics"
                ],
                "summary": "Post a comment",
                "operationId": "grouptopics-postcomments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Users",
            "description": "Operations for Users"
        },
        {
            "name": "Things",
            "description": "Operations for Things"
        },
        {
            "name": "Files",
            "description": "Operations for Files"
        },
        {
            "name": "Copies",
            "description": "Operations for Copies"
        },
        {
            "name": "Collections",
            "description": "Operations for Collections"
        },
        {
            "name": "Comments",
            "description": "Operations for Comments"
        },
        {
            "name": "Newest",
            "description": "Operations for Newest"
        },
        {
            "name": "Popular",
            "description": "Operations for Popular"
        },
        {
            "name": "Featured",
            "description": "Operations for Featured"
        },
        {
            "name": "Verified",
            "description": "Operations for Verified"
        },
        {
            "name": "Search",
            "description": "Operations for Search"
        },
        {
            "name": "Categories",
            "description": "Operations for Categories"
        },
        {
            "name": "Tags",
            "description": "Operations for Tags"
        },
        {
            "name": "Groups",
            "description": "Operations for Groups"
        },
        {
            "name": "GroupTopics",
            "description": "Operations for GroupTopics"
        }
    ]
}
